* {
  font-family: sans-serif, serif;
  box-sizing: border-box;
}

p {
  font-size: 1.4rem;
}

header p {
  text-align: right;
  padding-right: 2%;
  font-size: 1rem;
}

nav {
  display: flex;
  padding: 0 1.5%;
  border-bottom: 1px solid gray;
  justify-content: space-between;
}

.books,
.add-books,
.contact-us {
  align-items: center;
  margin-top: 8vh;
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

nav ul {
  display: flex;
  width: 30%;
}

nav ul a {
  list-style: none;
  margin: 0 2% 0 auto;
  text-decoration: none;
  color: #000;
}

a:hover {
  color: rgb(42, 90, 161);
}

li {
  font-size: 1.2rem;
}

button {
  cursor: pointer;
}

.book-list {
  list-style-type: none;
  padding-left: 0;
  border: 1px solid black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 1.5% 0;
  width: 50%;
}

button,
input {
  font-size: 1.1rem;
}

form button {
  width: 25%;
  margin: 1.5% 0 0 25.6%;
}

.title-and-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  height: 5vh;
  background: rgb(217, 217, 217);
}

.title-and-author:nth-child(even) {
  background-color: #fff;
}

.contact-us {
  text-align: center;
}

.contact-us ul {
  text-align: left;
  margin-left: 25%;
}

footer {
  position: fixed;
  bottom: 0;
  right: 25%;
  text-align: center;
  align-items: center;
}

.contact-us,
.add-books {
  display: none;
}
